<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 mt-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Login</h3>
          </div>
          <div class="card-body">
            <%= form_with url: "/login" do |f| %>
              <div class="form-floating mb-3">
                <%= f.text_field :email, class: "form-control", placeholder: "name@example.com", required: true %>
                <%= f.label :email %>
              </div>
              <div class="form-floating mb-3">
                <%= f.password_field :password, class: "form-control", :placeholder => "Password", required: true %>
                <%= f.label :password %>
              </div>
              <!-- <div class="form-check mb-3">
                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
              </div> -->
              <div class="d-flex flex-row-reverse align-items-left justify-content-between mt-4 mb-0">
                <!-- <%= link_to "Forgot Password?", root_path, class: "small" %> -->
                <%= f.submit "Login", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
          <div class="card-footer text-center py-3">
            <div class="small">
              <%= link_to "Need an account? Sign up!", signup_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>