<%= link_to "< Back", request.referer || root_path, class: "link-dark" %>

<h1 class="mt-4"><%= title %></h1>

<% if title == "Edit Family" %>
  <%= render "layouts/breadcrumbs", page: "Settings", family: @family %>
<% else %>
  <%= render "layouts/breadcrumbs", page: "Families" %>
<% end %>

<%= form_with model: @family do |f| %>
  <div class="row mb-3">
    <%= f.label :family_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-5">
      <%= f.text_field :family_name, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :currency, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-5">
      <%= f.select :currency, Money::Currency.table.values.map { |currency| ["#{currency[:iso_code]} - #{currency[:name]}", currency[:iso_code]] }, { include_blank: 'Select a currency' }, class: "form-select", required: true %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-3 offset-sm-5">
      <%= f.submit submit_text, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>