<main>
  <div class="container-fluid px-4">

    <div class="mt-4">
      <h1 class="d-inline align-middle"><%= @family.family_name %></h1>
      <h4 class="d-inline align-middle dropdown">
        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical px-2 pt-2"></i></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Edit Family", edit_family_path(@family), class: "dropdown-item" %></li>
          <li><%= link_to "Manage Members", family_path(@family), class: "dropdown-item" %></li>
        </ul>
      </h4>
    </div>

    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <div class="row">

      <!-- Left column -->
      <div class="col-xl-6">
        <div class="mb-2">
          <h2 class="d-inline align-middle">Expenses</h2>
          <h5 class="d-inline align-middle">
            <%= link_to new_expenditure_path(family_id: @family.id) do %>
              <i class="fa-solid fa-circle-plus align-middle px-2 pt-1"></i>
            <% end %>
          </h5>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fa-solid fa-comment-dollar"></i>
            General Expenses
          </div>
          <div class="card-body">
            <table id="datatablesSimple">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <% @family.expenditures.non_budget.each do |expenditure| %>
                  <tr>
                    <td><%= expenditure.date %></td>
                    <td><%= expenditure.description %></td>
                    <td><%= expenditure.amount %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Right column -->
      <div class="col-xl-6">
        <div class="mb-2">
          <h2 class="d-inline align-middle">Budgets</h2>
          <h5 class="d-inline align-middle">
            <%= link_to new_budget_path(family_id: @family.id) do %>
              <i class="fa-solid fa-circle-plus px-2 pt-1"></i>
            <% end %>
          </h5>
        </div>
        <% @family.budgets.each do |budget| %>
          <div class="card mb-4">
            <div class="card-header">
              <i class="fa-solid fa-sack-dollar"></i>
              <%= budget.name %>
            </div>
            <div class="card-body">
              
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>