<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4 mb-4"><%= title %></h1>

    <%= form_with model: @expenditure do |f| %>

      <div class="row mb-3">
        <%= f.label :date, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-5">
          <%= f.date_field :date, class: "form-control", required: true %>
        </div>
      </div>

      <div class="row mb-3">
        <%= f.label :description, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-5">
          <%= f.text_field :description, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= f.label :amount, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-5">
          <%= f.number_field :amount, class: "form-control", required: true %>
        </div>
      </div>

      <% if params[:budget_id].present? || @expenditure.budget.present? %>
        <div class="row mb-3">
          <div class="col-sm-2">Expense Type</div>
          <div class="col-sm-5">
            <input type="radio" class="btn-check" name="options" id="generalOptionButton" autocomplete="off">
            <label class="btn btn-outline-secondary" for="generalOptionButton">General</label>

            <input type="radio" class="btn-check" name="options" id="budgetOptionButton" autocomplete="off" checked>
            <label class="btn btn-outline-secondary" for="budgetOptionButton">Budget</label>
          </div>
        </div>

        <div class="row mb-3" id="budget-field">
          <%= f.label :budget_id, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-5">
            <%= f.select :budget_id, @budgets.map { |budget| [budget.name, budget.id] }, { include_blank: 'Select a budget' }, class: "form-select mb-3" %>
          </div>
        </div>

        <div class="row mb-3" id="members-percentage-field" style="display:none">
          <div class="col-sm-2 col-form-label">Members' Load</div>
          <div class="col-sm-5">
            <% @expenditure_assignees.each do |expenditure_assignee| %>
              <%= f.fields_for :expenditure_assignees, expenditure_assignee do |ea| %>
                <div class="row mb-3">
                  <%= ea.label :percentage, ea.object.user.first_name, class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-2">
                    <%= ea.hidden_field :user_id %>
                    <%= ea.number_field :percentage, class: "form-control" %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

      <% else %>
        <div class="row mb-3">
          <div class="col-sm-2 col-form-label">Expense Type</div>
          <div class="col-sm-5">
            <input type="radio" class="btn-check" name="expense-type" id="general-option-button" autocomplete="off" checked>
            <label class="btn btn-outline-secondary" for="general-option-button">General</label>

            <input type="radio" class="btn-check" name="expense-type" id="budget-option-button" autocomplete="off">
            <label class="btn btn-outline-secondary" for="budget-option-button">Budget</label>
          </div>
        </div>

        <div class="row mb-3" id="budget-field" style="display:none">
          <%= f.label :budget_id, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-5">
            <%= f.select :budget_id, @budgets.map { |budget| [budget.name, budget.id] }, { include_blank: 'Select a budget' }, class: "form-select mb-3" %>
          </div>
        </div>

        <div class="row mb-3" id="members-percentage-field">
          <div class="col-sm-2 col-form-label">Members' Load</div>
          <div class="col-sm-7">
            <% @expenditure_assignees.each do |expenditure_assignee| %>
              <%= f.fields_for :expenditure_assignees, expenditure_assignee do |ea| %>
                <div class="row mb-3">
                  <%= ea.label :percentage, ea.object.user.first_name, class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-2">
                    <%= ea.hidden_field :user_id %>
                    <%= ea.number_field :percentage, class: "form-control" %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

      <% end %>

      <%= f.hidden_field :family_id %>

      <div class="row mb-3">
        <div class="col-sm-3 offset-sm-5">
          <%= f.submit submit_text, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</main>

<script>
  var budgetOptionButton = document.getElementById("budget-option-button");
  var generalOptionButton = document.getElementById("general-option-button");
  var budgetSelectField = document.getElementById("budget-field");
  var budgetField = document.getElementById("expenditure_budget_id");
  var membersPercentageField = document.getElementById("members-percentage-field");
  var percentageFields = membersPercentageField.querySelectorAll("input[type=number]");

  function selectBudget() {
    // Modify form
    budgetSelectField.style.display = "flex";
    membersPercentageField.style.display = "none";
    // Reset values
    percentageFields.forEach(function(field) {
      field.value = "";
    });
  }

  function selectGeneral() {
    // Modify form
    budgetSelectField.style.display = "none";
    membersPercentageField.style.display = "flex";
    // Reset values
    budgetField.selectedIndex = 0;
  }

  budgetOptionButton.addEventListener("click", selectBudget);
  generalOptionButton.addEventListener("click", selectGeneral);
</script>