<%= form_with model: @expenditure do |f| %>
  <div>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
    <% @expenditure.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
    <% @expenditure.errors.full_messages_for(:amount).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <% if params[:budget_id].present? %>
    <input type="checkbox" id="budget_checkbox" checked>Budget Expense</input>
    <%= f.select :budget_id, options_for_select(@budgets.map { |budget| [budget.name, budget.id] }, params[:budget_id]) %>
    <div id="members_percentage" style='display:none'>
      <% @expenditure_assignees.each do |expenditure_assignee| %>
        <%= f.fields_for :expenditure_assignees, expenditure_assignee do |ea| %>
          <%= ea.hidden_field :user_id %>
          <%= ea.label :percentage, ea.object.user.username %>
          <%= ea.number_field :percentage %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <input type="checkbox" id="budget_checkbox">Budget Expense</input>
    <%= f.select :budget_id, options_for_select(@budgets.map { |budget| [budget.name, budget.id] }), { include_blank: 'Select a budget' }, style: 'display: none' %>
    <div id="members_percentage">
      <% @expenditure_assignees.each do |expenditure_assignee| %>
        <%= f.fields_for :expenditure_assignees, expenditure_assignee do |ea| %>
          <%= ea.hidden_field :user_id %>
          <%= ea.label :percentage, ea.object.user.username %>
          <%= ea.number_field :percentage %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= f.hidden_field :family_id %>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<script defer>
  document.addEventListener("DOMContentLoaded", function() {
    const budgetCheckbox = document.getElementById("budget_checkbox");
    const budgetSelect = document.getElementById("expenditure_budget_id");
    const membersPercentageField = document.getElementById("members_percentage");
    const percentageFields = membersPercentageField.querySelectorAll("input[type=number]");
  
    function toggleSelectVisibility() {
      if (budgetCheckbox.checked) {
        budgetSelect.style.display = "block";
        membersPercentageField.style.display = "none";
        percentageFields.forEach(function(field) {
          field.value = "";
        });
      } else {
        budgetSelect.style.display = "none";
        budgetSelect.selectedIndex = -1;
        membersPercentageField.style.display = "block";
      }
    }

    budgetCheckbox.addEventListener("change", toggleSelectVisibility);
  });
</script>
