<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark position-fixed">

  <%= link_to "Budget App", root_path, class: "navbar-brand ps-3" %>

  <% if current_user %>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

    <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><%= link_to "Profile", profile_path, class: "dropdown-item" %></li>
          <li><%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider" /></li>
          <li><%= link_to "Logout", logout_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
        </ul>
      </li>
    </ul>
  <% else %>
    <ul class="navbar-nav ms-auto me-4">
      <li class="nav-item"><%= link_to "Signup", signup_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Login", login_path, class: "nav-link" %></li>
    </ul>
  <% end %>
</nav>

<%= javascript_include_tag "scripts", defer: true %>